section.interactiveElements {
    & > p {
        text-align: center;
        margin-bottom: 5rem;
    }
}

ul.navBarExample {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #{'hsl(var(--clr-white) / .1)'};
    list-style: none;
    margin-bottom: 2rem;
    padding-top: 2rem;
    li > button {
        position: relative;
        font-size: var(--fs-400);
        text-decoration: none;
        background-color: transparent;
        border: none;
        margin: 0;
        border-bottom: 3px solid #{'hsl(var(--clr-white) / 0)'};
        padding-bottom: 2rem;
        &:hover {
            border-bottom: 3px solid #{'hsl(var(--clr-white) / 0.5)'};
            cursor: pointer;
        }
        &:active {
            border-bottom: 3px solid #{'hsl(var(--clr-white) / 1)'};
        }
    }
}


.childWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.exploreButton {
    display: grid;
    place-items: center;
    button {
        display: grid;
        place-items: center;
        aspect-ratio: 1;
        text-transform: uppercase;
        padding: 0 2em;
        border-radius: 50%;
        z-index: 2;
        span {
            font-size: var(--fs-600);
            font-family: Bellefair;
            line-height: 37px;
            letter-spacing: 2px;            
        }
    }

    button.largeButton {
        margin-top: 5rem;
        position: relative;
        border: none;
        &::after {
           content: '';
           position: absolute;
           width: 100%;
           height: 100%;
           z-index: -1;
           background-color: #{'hsl(var(--clr-white) )'};
           opacity: .15;
           border-radius: inherit;
           transition: opacity 500ms linear, transform 500ms ease-in-out;
        }
        &:hover::after,
        &:focus::after {
            opacity: .25;
            transform: scale(1.5);
        }
    } 
    p {
        margin-top: 1rem;
    }   
}

.tabExample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    div.tabs {
        div {
            display: flex;
            margin: 0 0 2rem 0;
            button {
                text-transform: uppercase;
                color: #{'hsl(var(--clr-white))'};
                background-color: transparent;
                border: none;
                cursor: auto;
                padding-bottom: 1rem;
                border-bottom: 3px solid #{'hsl(var(--clr-white) / 0)'};                    
                &:not(:last-child) {
                    margin-right: 2rem;
                }
                &.active {
                    border-bottom: 3px solid #{'hsl(var(--clr-white))'};                    
                }
                &:hover:nth-child(2),
                &:focus:nth-child(2) {
                    border-bottom: 3px solid #{'hsl(var(--clr-white) / .5)'};
                    cursor: pointer;                 
                }
            }
        }
    }
    p {
        text-align: center;
    }
}

.bullets {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    button {
        width: 1rem;
        aspect-ratio: 1;
        background-color: #{'hsl(var(--clr-white) / .25)'};
        border-radius: 50%;
        height: 1rem;
        border: none;
        &.active {
            background-color: #{'hsl(var(--clr-white) / 1)'}; 
        }
        &:hover:nth-child(2) {
            background-color: #{'hsl(var(--clr-white) / .5)'}; 
            cursor: pointer;
        }
    }
}

.sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
   div {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 3rem;
       aspect-ratio: 1;
       border-radius: 50%;
       border: 1px solid #{'hsl(var(--clr-white) / .25)'};
       &:hover:nth-child(2) {
           border: 1px solid #{'hsl(var(--clr-white) / 1)'};
           cursor: pointer;
        }
        &.active {
            background-color: #{'hsl(var(--clr-white))'};
            span {
                color: #{'hsl(var(--clr-dark))'};
             }
         }
    }
}