.colors {
 display: flex;
 gap: var(--gap);
justify-content: center;

  // child wrapper div
  div {
      flex-grow: 1;
    }
}

.boxWrapper {
  .box {
    padding: 3rem 1rem 1rem;
    border: 1px solid #{'hsl(var(--clr-light))'};  
  }
  span {
    margin-right: 2rem; 
    color: #{'hsl(var(--clr-light))'};
  }
}
