section.interactiveElements {
    // p {
    //     text-align: center;
    //     margin-bottom: 4rem;
    // }
}
.navBarExample {
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #{'hsl(var(--clr-white) / .1)'};
        padding: 1.5rem 0;
        list-style: none;
        margin-bottom: 2rem;
        li > button {
            position: relative;
            font-size: var(--fs-400);
            text-decoration: none;
            background-color: transparent;
            border: none;
            margin: 0;
            &:hover {
                cursor: pointer;
            }
        }
        li {
            &:nth-child(-n+2) {
                button::after {
                    content: '';
                    position: absolute;
                    bottom: -1.5rem;
                    left: 2px;
                    width: 7.5rem;
                    border-bottom: 5px solid #{'hsl(var(--clr-white))'};
                    cursor: auto; 
                }
            }

            &:nth-child(2) {
                button::after {
                    left: 5px;
                    opacity: .25;
                    width: 8rem;
                }
            }
        }
    }
    p {
        text-align: center;
        margin-bottom: 5rem;
    }
}

.childWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.exploreButton {
    display: grid;
    place-items: center;
    button {
        display: grid;
        place-items: center;
        aspect-ratio: 1;
        text-transform: uppercase;
        padding: 0 2em;
        border-radius: 50%;
        z-index: 2;
        span {
            font-size: var(--fs-600);
            font-family: Bellefair;
            line-height: 37px;
            letter-spacing: 2px;            
        }
    }

    button.largeButton {
        margin-top: 5rem;
        position: relative;
        border: none;
        &::after {
           content: '';
           position: absolute;
           width: 100%;
           height: 100%;
           z-index: -1;
           background-color: #{'hsl(var(--clr-white) )'};
           opacity: .15;
           border-radius: inherit;
           transition: opacity 500ms linear, transform 500ms ease-in-out;
        }
        &:hover::after,
        &:focus::after {
            opacity: .25;
            transform: scale(1.5);
        }
    } 
    p {
        margin-top: 1rem;
    }   
}

.tabExample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0 9rem;
        margin: 0 0 3rem 0;
        li {
            position: relative;
            height: 1rem;
            button {
                text-transform: uppercase;
                color: #{'hsl(var(--clr-white))'};
                background-color: transparent;
                border: none;
            }
            &:nth-child(-n+2) {
                button::after {
                    content: '';
                    position: absolute;
                    bottom: -1.5rem;
                    left: 6px;
                    width: 2.5rem;
                    border-bottom: 3px solid #{'hsl(var(--clr-white))'};
                    cursor: auto; 
                }
            }
            &:nth-child(2) {
                button::after {
                    opacity: .4;

                }
            }
        }
    }
    p {
        text-align: center;
    }
}

.bullets {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    div {
        position: relative;
        width: 1rem;
        background-color: #{'hsl(var(--clr-white) / .5)'};
        border-radius: 50%;
        height: 1rem;
    }
    & > div::before, & > div::after {
        position: absolute;
        display: inline-block;
        content: '';
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }
    $gap: -2.5rem;
    & > div::before {
        top: 0;
        left: $gap;
        background-color: #{'hsl(var(--clr-white) / 1)'};
    }
    & > div::after {
        top: 0;
        right: $gap;
        background-color: #{'hsl(var(--clr-white) / .25)'};
    }
}

.sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
   div {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 3rem;
       aspect-ratio: 1;
       border-radius: 50%;
       background-color: #{'hsl(var(--clr-white))'};
       
       span {
           color: #{'hsl(var(--clr-dark))'};
        }
    }
    & > div:not(:first-child) {
        background-color: transparent;
        border: 1px solid #{'hsl(var(--clr-white))'};
        span {
            color: #{'hsl(var(--clr-white))'};
        }     
    }
    & > div:nth-child(3) {
       border: 1px solid #{'hsl(var(--clr-white) / .25)'};
   }
}