section.interactiveElements {
    p {
        text-align: center;
        margin-bottom: 4rem;
    }
}
.navBarExample {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #{'hsl(var(--clr-white) / .1)'};
    padding: 1.5rem 0;
    list-style: none;
    margin-bottom: 2rem;
    li > button {
        position: relative;
        font-size: var(--fs-400);
        text-decoration: none;
        background-color: transparent;
        border: none;
        margin: 0;
        &:hover {
            cursor: pointer;
        }
    }
    li {
        &:nth-child(-n+2) {
            button::after {
                content: '';
                position: absolute;
                bottom: -1.5rem;
                left: 2px;
                width: 7.5rem;
                border-bottom: 5px solid #{'hsl(var(--clr-white))'};
                cursor: auto; 
            }
        }

        &:nth-child(2) {
            button::after {
                left: 5px;
                opacity: .25;
                width: 8rem;
            }
        }
    }
    
}

.childWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.exploreButton {
    outline: 1px solid yellow;
    display: grid;
    place-items: center;
    button {
        display: grid;
        place-items: center;
        aspect-ratio: 1;
        text-transform: uppercase;
        padding: 0 2em;
        border-radius: 50%;
        z-index: 2;
        span {
            font-size: var(--fs-600);
            font-family: Bellefair;
            line-height: 37px;
            letter-spacing: 2px;            
        }
    }

    button.largeButton {
        margin-top: 5rem;
        position: relative;
        border: none;
        &::after {
           content: '';
           position: absolute;
           width: 100%;
           height: 100%;
           z-index: -1;
           background-color: #{'hsl(var(--clr-white) )'};
           opacity: .15;
           border-radius: inherit;
           transition: opacity 500ms linear, transform 500ms ease-in-out;
        }
        &:hover::after,
        &:focus::after {
            opacity: .25;
            transform: scale(1.5);
        }
    } 
    p {
        margin-top: 1rem;
    }   
}

.tabExample {
    outline: 1px solid yellow;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0 9rem;
        margin-bottom: 3rem;
        li {
            position: relative;
            height: 1rem;
            button {
                color: #{'hsl(var(--clr-white))'};
                background-color: transparent;
                border: none;
            }
            &:nth-child(-n+2) {
                button::after {
                    content: '';
                    position: absolute;
                    bottom: -1.5rem;
                    left: 6px;
                    width: 2.5rem;
                    border-bottom: 3px solid #{'hsl(var(--clr-white))'};
                    cursor: auto; 
                }
            }
            &:nth-child(2) {
                button::after {
                    opacity: .4;

                }
            }
        }
    }
}

.bullets {
    display: flex;
    justify-content: space-around;
    padding: 0 9rem;
    span::before {
        display: inline-block;
        content: '';
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 1rem;
    }
    span {
        display: inline-block;
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #fff;
    }
    span::after {
        display: inline-block;
        content: '';
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #fff;
    }

}