@import 'styles/_sass.scss';

.homePage {
  $spacing: 1.5rem;
  div.text {
    // outline: 1px solid blue;
    width: 450px;
    h1 {
      text-transform: uppercase;
      margin-bottom: $spacing;
    }
    p {
      margin-top: $spacing;
    }
  }
  div.explore {
    // outline: 1px solid yellow;
    justify-self: end;
    align-self: end;
    margin-right: 10rem;
  }
}
.bgi {
  background-image: url(../../assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  @include lg {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}
